<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Numer telefonu</th>
            <th>Email</th>
            <th>Wiadomość</th>
            <th>Gekony</th>
            <th>Data</th>
            <th>Rezerwacja</th>
        </tr>
        {% for reservation in reservations %}
            {% if reservation.accepted is same as(false) %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td> {{ reservation.phoneNumber }} </td>
                    <td> {{ reservation.email }} </td>
                    <td> {{ reservation.message }} </td>
                    <td>
                        <ul style="list-style-type:none;">
                            {% for geck in reservation.gecks %} 
                                <li>{{ geck }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td> {{ reservation.createdAt|date("d/m/Y h:m:s") }} </td>
                    <td> 
                        <a href="{{ path('handle_reservation', {'id': reservation.id, 'action': "delete"}) }}">
                            <button type="button" class="btn btn-warning w-100" >Usuń</button>
                        </a> 
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
<div>