    {% extends "/reservations/reservationBase.html.twig" %}

    {% block leftTitle %}
        <h3>Formularz rezerwacji</h3>
    {% endblock %}

    {% block leftBody %}
        {{ form_start(form) }}
            {{ form_row(form.username)}}
            {{ form_row(form.email)}}
            {{ form_row(form.retypedEmail)}}
            {{ form_row(form.phoneNumber)}}
            {{ form_row(form.message)}}
        {{ form_end(form) }}
    {% endblock %}

    {% block rightTitle %}
        <h3>Gekony:</h3>
    {% endblock %}
    
    {% block rightBody %}
        <ul class="list-group">
            {% for gecko in gecks %}
                <li class="list-group-item"> {{ gecko }} </li>
            {% endfor %}
        </ul>
    {% endblock %}
