    {% extends "/reservations/reservationBase.html.twig" %}

    {% block leftTitle %}
        <h3> Rezerwacja: </h3>
    {% endblock %}
        
    {% block leftBody %}
        <div>
            <p>
                <h5>Nazwa użytkownika:</h5> {{ reservation.username }}
            </p>
            <p>
                <h5>Adres email:</h5> {{ reservation.email }}
            </p>
            <p>
                <h5>Treść wiadomości:</h5> {{ reservation.message }}
            </p>
            <p>
                <h5>Nr telefonu:</h5> {{ reservation.phoneNumber }}
            </p>
            <p>
                <h5>Data utworzenia:</h5> {{ reservation.createdAt|date("d/m/Y h:m:s") }}
            </p>

            {% if is_granted('ROLE_SUPERADMIN') and not reservation.accepted %}
            <a href="{{ path('handle_reservation', {'id': reservation.id, 'action': "accept"}) }}">
                <button type="button" class="btn btn-info w-100 my-2" >Accept</button>
            </a> 
                
            <a href="{{ path('handle_reservation', {'id': reservation.id, 'action': "decline"}) }}">
                <button type="button" class="btn btn-danger w-100" >Reject</button>
            </a> 
        {% elseif reservation.accepted %}
            <button class="btn btn-success mt-2 w-100"> Rezerwacja zaakceptowana! </button>
        {% else %}
            <button class="btn btn-info mt-2 w-100"> Rezerwacja w trakcie rozpatrywania </button>
        {% endif %}
        </div>
        
    {% endblock %}

    {% block rightTitle %}
        <h3> Lista rezerwowanych gekonów: </h3>
    {% endblock %}
    
    {% block rightBody %}
        <ul class="list-group">
            {% for gecko in reservation.gecks %}
                <li class="list-group-item"> {{ gecko }} </li>
            {% endfor %}
        </ul>
    {% endblock %}
    