{% extends "/email/reservationEmailBase.html.twig" %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block container %}
    <a href="https://smilinggeckos.com" target="_blank"><img class="logo" src="http://localhost:8000/images/logo.jpg"  /></a>
    <h2>
        Cześć {{ reservation.username }},
    </h2>
    <p>
        informujemy, że Twoja <a href="{{ domain }}/show_reservation/{{ reservation.uniqId }}">rezerwacja</a> gekonów na portalu SmilingGeckos została zaakceptowana!
    </p>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}